#root  {
    width: 100vw;
}

.headContainerClass{
    width: 100vw;
    height: 10vh;
}
.headContainerClass .head{
height: 80%;
padding: 5px;
background-color: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
width: 100%;
}

h1{
    color: red;
    margin: 5px;
}

/* ------------sideBar------------ */
.sideBar-container{
    height: auto;
    width: 30vw;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
.side-Bar{
    padding: 25px;
    width: auto;
    text-align: center;
}
.side-Bar ul {
    text-decoration: none;
    list-style: none;
}
.side-Bar ul li a{
    color: black;
    border: 1px soilid black;
    padding: 10px 20px;
    font-weight: bolder;
    
    
}
.side-Bar ul li {
    margin-right: 35px;
    margin-top: 15px;
}
