*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}


#root{
    display: flex;
    justify-content: center;
    align-items: center;


}
/* -------- */
.headContainerClass{
    background: rgb(209, 153, 190);
    width: 50px;
   

}

.main{
    background: rgb(49, 103, 145);
    width: 50px;
   
 
}

.inside-main{
    background: rgb(152, 160, 167);
    width: 50px;
   
}

.sideBar-container{
    background: rgb(85, 211, 95);
    width: 50px;
   

}

.side-Bar{
    background: rgb(145, 49, 118);
    width: 50px;
   
    
}

/* ------------------------- */

.main-img{
    display: flex;


}

